.securityContainer {
  position: absolute;
  top: 127px;
  left: 20vw;
  display: flex;
  width: 84%;
  padding: 40px 40px 40px 40px;
  height: 100vh;
  .inputRed::placeholder {
    color: #f84141;
    opacity: 1; /* Firefox */
  }

  .inputRed {
    border: 1px solid #f84141;
  }
  .vLine {
    width: 0.1px;
    height: initial;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 22px;
    margin-right: 22px;
  }

  .securityContent {
    display: flex;
    width: 60%;

    .facility {
      flex: 0.5;

      .maintitle {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
        padding-bottom: 13px;
      }

      :nth-child(n + 2) {
        color: #475569;
        font-size: 14px;
        font-weight: normal;
        display: flex;
        gap: 6px;
        flex-direction: column;
        padding-bottom: 13px;

        .inputs {
          width: 100%;
        }
      }
    }

    .collateral {
      flex: 0.5;

      .maintitle {
        font-size: 14px;
        font-weight: bold;
        color: #64748b;
        padding-bottom: 13px;
      }

      :nth-child(n + 2) {
        color: #475569;
        font-size: 14px;
        font-weight: normal;
        display: flex;
        gap: 8px;
        flex-direction: column;
        padding-bottom: 13px;
      }
      .errorMessage {
        background-color: #f9000023;
        color: #f84141;
        padding: 10px 8px 10px 8px;
        font-size: 12px;
        width: fit-content;
      }

      .radioBack {
        padding: 16px 15px 16px 16px;
        display: flex;
        background-color: #9797970f;
        flex-direction: column;
        margin-bottom: 15px;
        .radioBackIn {
          :nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }
          :nth-child(3) {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }
        }
        :nth-child(2) {
          display: flex;
          flex-direction: row;
          gap: 30px;

          :nth-child(n) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-bottom: 0px;
            gap: 6px;
          }
        }
      }
    }
  }

  .inputs {
    width: 100%;
  }

  input[type="date"] {
    // height: 44px !important;
    height: auto;
    flex-direction: row !important;
    //  padding-top: 100px !important;
  }

  .edit {
    flex-direction: column !important;
    gap: 2px !important;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    .inputs {
      padding-top: 0px !important;
    }
  }
}
