.leftMenu {
  position: fixed;
  z-index: 2;
  background-color: #f8fafc;
  top: 20vh;
  border-right: 1px solid #e2e8f0;
  padding-right: 0px;
  max-width: 20vw;
  min-width: 250px;
  width: 15vw;
  overflow: scroll;
  .selected {
    font-weight: 600;
    font-size: 13.5px;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .spl {
    justify-content: flex-start !important;
    display: none;
  }
  .menuItemContainer {
    cursor: pointer;
    .titleContainer {
      display: flex;
      font-size: 14px;

      .selected {
        font-weight: 600;
      }
    }
    width: max-content;
    svg {
      margin-top: -5px;
    }
    span {
      margin-left: 20px;
      // margin-top: 5px;
      color: #181c27;
    }
    .expandableDiv {
      font-size: 14px;
      .expandableContent {
        margin-left: 4vw;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
      }
    }
  }

  .expandableDiv.expanded {
    .expandableContent {
      max-height: 200px;

      .selectedSub {
        color: #0d8489;
        font-weight: bolder;
        font-size: 14px;
      }
    }
  }
  .items {
    width: 177px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    /* margin-top: 40px; */
    justify-content: flex-start;
    // height: 450px;
    padding-right: 31px;
    gap: 30px;
    color: #181c27;
    border-right: 1px solid #e2e8f000;
    .item:hover {
      cursor: pointer;
    }

    .item {
      display: flex;
      text-decoration: none;

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 16px;
      width: max-content;
      svg {
        margin-top: -5px;
      }
      span {
        margin-left: 20px;
        // margin-top: 5px;
        color: #181c27;
      }
      .subItem {
        span {
          font-weight: normal;
          color: #000;
        }
        font-weight: normal;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        .selectedSub {
          color: #0d8489;
          font-weight: bolder;
          font-size: 14px;
        }
      }
    }
  }
  .itemsNew {
    width: 177px;
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    /* margin-top: 40px; */
    justify-content: flex-start;
    // height: 450px;
    padding-right: 31px;
    gap: 25px;
    color: #181c27;
    border-right: 1px solid #e2e8f000;
    .item:hover {
      cursor: pointer;
    }
    .last-item {
      margin-top: auto;
    }

    .item {
      display: flex;
      text-decoration: none;

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 16px;
      width: max-content;
      svg {
        margin-top: -5px;
      }
      span {
        margin-left: 20px;
        // margin-top: 5px;
        color: #181c27;
      }
      .subItem {
        span {
          font-weight: normal;
          color: #000;
        }
        font-weight: normal;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        .selectedSub {
          color: #0d8489;
          font-weight: bolder;
          font-size: 14px;
        }
      }
    }
  }
  .progressBox {
    margin-top: 40px;
    width: 177px;
    height: 33px;
    span {
      margin-left: 18px;
      font-size: 13px;
      color: #475569;
      letter-spacing: -2%;
    }
  }
}
