.ptContainer {
  position: fixed;
  top: 127px;
  left: 20vw;
  display: flex;
  width: 80%;

  padding: 40px 40px 80px 40px;
  display: flex;
  font-size: 14px;
  height: fit-content;
  max-height: calc(100vh - 127px);
  .inputRed::placeholder {
    color: #f84141;
    opacity: 1; /* Firefox */
  }

  .inputRed {
    border: 1px solid #f84141;
  }
  .inputContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
      font-size: 13.5px;
    }
  }
  .errorMessage {
    background-color: #f9000023;
    color: #f84141;
    padding: 10px 8px 10px 8px;
    font-size: 12px;
    width: fit-content;
  }

  .rowBox {
    display: flex;
    gap: 10px !important;
    flex-direction: row !important;
    justify-content: space-between;

    .inputContainer {
      width: 100%;
    }
  }
  .productContainer {
    width: 50%;
    color: #475569;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .button--secondary {
      width: 150px;
      border: 1px solid #475569;
      color: #475569;
      font-weight: bolder;
    }
  }

  .portContainer {
    width: 30%;
    color: #475569;
  }
  .inputs {
    width: 100%;
    color: #64748b;
  }

  .vLine {
    width: 0.1px;
    height: initial;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 22px;
    margin-right: 22px;
  }

  .maintitle {
    font-size: 14px;
    font-weight: bold;
    color: #64748b;
    padding-bottom: 11px;
  }

  .selectBack {
    margin-top: 10px;
    padding: 12px 12px 14px 14px;
    display: flex;
    background-color: #9797970f;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 6px;

    .inputs {
      height: 85%;
    }

    :nth-child(n) {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  .radioBack {
    margin-top: 10px;
    padding: 16px 24px 16px 16px;
    display: flex;
    background-color: #9797970f;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 6px;

    :nth-child(2) {
      display: flex;
      flex-direction: row;
      gap: 30px;

      :nth-child(n) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;
        gap: 6px;
      }
    }

    textarea {
      height: max-content;
      width: 110%;
      padding-bottom: 10%;
    }
  }

  .ptShort {
    flex: 1;
    width: 100%;
    color: #475569;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .ptDetails {
    flex: 1;
    width: 100%;
    color: #475569;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .ptMedium {
    flex: 1;
    width: 100%;
    color: #475569;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .ptInterest {
    flex: 1;
    width: 100%;
    color: #475569;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .ptSM {
    flex: 1;
    width: 100%;
    color: #475569;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .ptVID {
    display: flex;

    overflow-y: scroll;
    flex: 1;
    width: 100%;
    color: #475569;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
