.inputs {
  font-family: inter;
  padding: 10px;
  width: 225px;
  height: 44px;
  color: black;
  border-radius: 4px;
  border: 1.5px solid #cbd5e1;
}

.supplier {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;

  .companyDetails {
    color: #475569;
    width: 225px;
    height: 436px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    .inputs {
      font-family: inter;
      padding: 10px;
      width: 225px;
      height: 44px;
      color: black;
      border-radius: 4px;
      border: 1.5px solid #cbd5e1;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }

    span {
      font-family: inter;
      color: #475569;
      font-size: 14px;
    }
  }

  .companyLocation {
    font-family: inter;

    color: #475569;
    width: 248px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    .inputs {
      font-family: inter;
      padding: 10px;
      width: 225px;
      height: 44px;
      color: black;
      border-radius: 4px;
      border: 1.5px solid #cbd5e1;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }

    span {
      font-family: inter;
      color: #475569;
      font-size: 14px;
    }
  }

  .financialInfo {
    color: #475569;
    width: 248px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inputs {
      font-family: inter;
      padding: 10px;
      width: 225px;
      height: 44px;
      color: black;
      border-radius: 4px;
      border: 1.5px solid #cbd5e1;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    span {
      font-family: inter;
      color: #475569;
      font-size: 14px;
    }
  }

  .rating {
    font-family: inter;
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 290px;
    background-color: #dcdcde34;
    padding: 16px;
    border-radius: 3px;

    .header {
      color: #000000;
      display: flex;

      span {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .inputs {
      margin-top: 10px;
      color: #475569;
      display: flex;
      flex-direction: column;
      height: 264px;
      width: 248px;
      // gap: 10px;
      justify-content: space-evenly;
      border: 0px;

      .input {
        padding: 10px;
        width: 225px;
        height: 44px;
        border: 1.5px solid;
        border-color: #cbd5e1;
        color: black;
        border-radius: 4px;
      }

      span {
        font-size: 14px;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: inter;
        color: #94a3b8;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #94a3b8;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #94a3b8;
      }
    }
  }
}

.buyerContainer {
  display: flex;
  flex-direction: row;
  width: 845px;
  height: 352px;
  // background-color: #000;
  margin-top: 40px;
  justify-content: space-between;

  .companyDetails {
    color: #475569;
    width: 225px;
    height: 352px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    .inputs {
      font-family: inter;
      padding: 10px;
      width: 225px;
      height: 44px;
      color: black;
      border-radius: 4px;
      border: 1.5px solid #cbd5e1;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }

    span {
      font-family: inter;
      color: #475569;
      font-size: 14px;
    }
  }

  .companyLocation {
    color: #475569;
    width: 248px;
    height: 331px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    .inputs {
      font-family: inter;
      padding: 10px;
      width: 225px;
      height: 44px;
      color: black;
      border-radius: 4px;
      border: 1.5px solid #cbd5e1;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }

    span {
      font-family: inter;
      color: #475569;
      font-size: 14px;
    }

    .delivery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 180px;
    }
  }

  .sectorInfo {
    color: #475569;
    width: 248px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    .line {
      width: 248px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 248px;
        height: 1px;
        background-color: #e2e8f0;
      }
    }

    .companyType {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 198px;
      height: 45px;

      span {
        font-weight: 400;
      }

      :nth-child(2) {
        display: flex;
        justify-content: space-between;

        label {
          margin-left: -70px;
          font-size: 14px;
        }

        input[type="radio"] {
          width: 16px;
          accent-color: #0d8489;
        }

        input[type="radio"]:checked ~ label {
          color: #0f172a;
        }
      }
    }

    .companyStatus {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 235px;
      height: 45px;

      span {
        font-weight: 400;
      }

      :nth-child(2) {
        display: flex;
        justify-content: space-between;

        label {
          margin-left: -45px;
          font-size: 14px;
        }

        input[type="radio"] {
          width: 16px;
          accent-color: #0d8489;
        }

        input[type="radio"]:checked ~ label {
          color: #0f172a;
        }
      }
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }
  }
}

.transactionsContainer {
  margin-top: 33px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: flex-start;

  .companyDetails {
    color: #475569;
    width: 380px;
    height: 204px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    :nth-child(3) {
      width: 380px;
      height: 44px;
    }

    :nth-child(4) {
      width: 380px;
      height: 88px;
    }

    .inputs {
      font-family: inter;
      padding: 10px;
      // width: 225px;
      // height: 44px;
      color: black;
      border-radius: 4px;
      border: 1.5px solid #cbd5e1;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #94a3b8;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #94a3b8;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #94a3b8;
    }

    span {
      font-family: inter;
      color: #475569;
      font-size: 14px;
    }
  }

  .goodsAndServices {
    color: #475569;
    width: 380px;
    height: 240px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;
    font-family: inter;

    :nth-child(3) {
      width: 380px;
    }

    :nth-child(2) {
      font-size: 14px;
      width: 380px;
    }

    :nth-child(4) {
      font-size: 14px;
      width: 380px;
      height: 44px;
    }

    :nth-child(5) {
      width: 380px;
      height: 88px;
    }

    :nth-child(1) {
      font-size: 14px;
      font-weight: bold;
      color: #64748b;
    }

    .delivery {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .contractStatus {
    font-family: inter;
    padding: 16px;
    background-color: rgba(220, 220, 222, 0.203);
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    width: 262px;
    height: 208px;
    border-radius: 3px;

    :nth-child(1) {
      color: #64748b;
      font-weight: bold;
      font-size: 14px;
    }

    :nth-child(3) {
      color: #475569;
      font-size: 14px;
    }

    :nth-child(2) {
      font-size: 14px;
      margin-left: -10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;

      :nth-child(1) {
        width: 55px;
      }
    }

    :nth-child(4) {
      color: #475569;
    }
  }
}

.financing {
  span {
    color: #64748b;
    font-weight: 800;
  }

  * {
    font-size: 14px;
    color: #475569;
  }

  .financingContainer {
    margin-top: 16px;
    display: flex;

    .inputFields {
      ::placeholder {
        color: #000;
      }

      * {
        gap: 7px;
        display: flex;
        flex-direction: column;
      }

      justify-content: space-between;
      flex: 1;
      display: flex;
      flex-direction: row;

      .currency {
        :nth-child(1) {
          :nth-child(2) {
            width: 90%;
          }
        }

        :nth-child(2) {
          :nth-child(2) {
            width: 90%;
          }
        }

        gap: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .eca {
        :nth-child(1) {
          :nth-child(2) {
            width: 90%;
          }
        }

        :nth-child(2) {
          :nth-child(2) {
            width: 90%;
          }
        }

        gap: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .notesContainer {
      flex: 1;
      flex-direction: column;
      display: flex;

      :nth-child(2) {
        margin-top: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .tableContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    width: min-content;

    .txFinance {
      margin-top: 16px;
      contain: content;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #e2e8f0;
      transition: all 2s ease;

      .tableTitles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;

        .statusTitle {
          display: flex;
          flex-direction: row;

          .statusTitleItems {
            align-items: center;
            display: flex;
            font-size: 12px;
            color: #475569;
            font-weight: bold;
            font-family: "inter";
            letter-spacing: 1px;
          }

          :nth-child(1) {
            width: 240px;
            height: 42px;
            padding-left: 24px;
          }

          :nth-child(2) {
            width: 140px;
            height: 42px;
            padding-left: 24px;
          }

          :nth-child(3) {
            width: 120px;
            height: 42px;
            padding-left: 24px;
          }

          :nth-child(4) {
            width: 110px;
            height: 42px;
            padding-left: 24px;
          }

          :nth-child(5) {
            width: 110px;
            height: 42px;
            padding-left: 24px;
          }

          :nth-child(6) {
            width: 110px;
            height: 42px;
            padding-left: 48px;
          }

          :nth-child(7) {
            width: 110px;
            height: 42px;
            padding-left: 48px;
          }

          :nth-child(8) {
            width: 110px;
            height: 42px;
            padding-left: 48px;
          }

          :nth-child(9) {
            width: 110px;
            height: 42px;
            padding-left: 48px;
          }
        }
      }

      .tableJoint {
        display: flex;

        .contentBox {
          display: flex;
          flex-direction: column;

          .titleColumn {
            display: flex;
            flex-direction: column;

            .columnContent {
              color: #000;
              font-weight: bold;
              border-top: 1px solid #e2e8f0;
              background-color: #fff;
              padding: 26.5px 47px 26.5px 24px;
            }
          }
        }

        .tableContent {
          .rowContent {
            display: flex;

            * {
              :nth-child(3) {
                :nth-child(1) {
                  color: #94a3b8;
                }
              }

              :nth-child(4) {
                :nth-child(1) {
                  color: #94a3b8;
                }
              }
            }

            .columnItems {
              .contentTitle {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                padding: 12px 31px 12px 24px;
                width: max-content;
                font-weight: bold;
                color: #475569;
                font-size: 14px;
              }

              .items {
                .iconx {
                  color: #000 !important;
                  font-size: 16.7px;
                }

                // color:#000;
                flex-direction: row;
                font-weight: bold;
                align-items: center;
                justify-content: center;
                margin: 0px;
                height: min-content;
                border-top: 1px solid #e2e8f0;
                border-right: 0px;
                background-color: #fff;
                padding: 26.5px 27px 26.5px 24px;
              }
            }
          }
        }
      }
    }
  }
}

#euro {
  display: flex;
  gap: 3px;

  svg {
    font-size: 14px;
    position: relative;
    top: 1px;
  }
}

textarea {
  resize: none;
}
