APP_RUN_THROTTLE=false
APP_RUN_CHAINHOOK=false
APP_RUN_JOBS=false
APP_RUN_EVENTS=false
APP_NAME="Taral Business API"
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000
APP_PORT=3000
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
NODE_ENV=development
APP_IS_SAME_SITE=true


THROTTLE_GLOBAL_TTL=60
THROTTLE_GLOBAL_LIMIT=60
THROTTLE_ENABLED=false
THROTTLE_LOGIN_PREFIX=login_fail_throttle
THROTTLE_LOGIN_LIMIT=5
THROTTLE_LOGIN_DURATION=2592000
THROTTLE_LOGIN_BLOCK_DURATION=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_DB=
REDIS_DRIVER=redis

DATABASE_URL=
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=secret
DATABASE_NAME=api
DATABASE_USERNAME=root
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=taral
MAIL_DEFAULT_EMAIL=taral@gmail.com
MAIL_DEFAULT_NAME=Taral
MAIL_QUEUE_NAME=taral-mail

JWT_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
JWT_COOKIE_EXPIRES_IN=604800
JWT_SECRET=example@123
AWS_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FILE_DRIVER=local
FILE_LOCAL_DIR=local_storage
LOGGING_LEVEL=
LOGGING_FLUENTDLOGGING=false
ONCHAIN_MOCK=true
ONCHAIN_PRIVATE_KEY=753b7cc01a1a2e86221266a154af739463fce51219d97e4f856cd7200c3bd2a601
ONCHAIN_PUBLIC_KEY=0390a5cac7c33fda49f70bc1b0866fa0ba7a9440d9de647fecb8132ceb76a94dfa
ONCHAIN_ADDRESS=
ONCHAIN_NETWORK=
TWOFA_AUTHENTICATION_APP_NAME=taral
WINSTON_GROUP_NAME=taral
WINSTON_STREAM_NAME=taral-stream
WINSTON_AWS_ACCESS_KEY_ID=
WINSTON_AWS_SECRET_ACCESS_KEY=
WINSTON_AWS_REGION=

STRIPE_SECRET_KEY=


API_SEQ_URL="http://seq"
API_KEY_TITLE="taral_ingest"
API_KEY_TOKEN=
ADMIN_USERNAME="admin"
ADMIN_PASSWORD=
SEQCLI_PATH="/bin/seqcli/seqcli"

SEQ_FIRSTRUN_ADMINPASSWORDHASH=
SEQ_URL="http://seq"
SEQ_API_KEY=

LOGGING_ROTATE_DIRECTORY=logs