APP_RUN_THROTTLE=false
APP_RUN_CHAINHOOK=false
APP_RUN_JOBS=false
APP_RUN_EVENTS=false
APP_NAME="Taralia Business API"
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000
APP_PORT=3000
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
NODE_ENV=development
APP_IS_SAME_SITE=true


THROTTLE_GLOBAL_TTL=60
THROTTLE_GLOBAL_LIMIT=60
THROTTLE_ENABLED=false
THROTTLE_LOGIN_PREFIX=login_fail_throttle
THROTTLE_LOGIN_LIMIT=5
THROTTLE_LOGIN_DURATION=2592000
THROTTLE_LOGIN_BLOCK_DURATION=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''
REDIS_USERNAME=''
REDIS_DB=''
REDIS_DRIVER=redis

DATABASE_URL=''
DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_PASSWORD=secret
DATABASE_NAME=api
DATABASE_USERNAME=root
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=''
DATABASE_KEY=''
DATABASE_CERT=''

MAIL_USER=noreply@tariala.com
MAIL_PASSWORD="========"
MAIL_FROM="No reply"
MAIL_DEFAULT_EMAIL=noreply@tariala.com
MAIL_DEFAULT_NAME="No Reply"
MAIL_QUEUE_NAME=taral-mail

JWT_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
JWT_COOKIE_EXPIRES_IN=604800
JWT_SECRET=example@123
AWS_BUCKET=''
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
FILE_DRIVER=local
FILE_LOCAL_DIR=local_storage
LOGGING_LEVEL=error
LOGGING_FLUENTDLOGGING=false
ONCHAIN_MOCK=true
ONCHAIN_PRIVATE_KEY=753b7cc01a1a2e86221266a154af739463fce51219d97e4f856cd7200c3bd2a601
ONCHAIN_PUBLIC_KEY=0390a5cac7c33fda49f70bc1b0866fa0ba7a9440d9de647fecb8132ceb76a94dfa
ONCHAIN_ADDRESS=''
ONCHAIN_NETWORK=''
TWOFA_AUTHENTICATION_APP_NAME=taral
WINSTON_GROUP_NAME=taral
WINSTON_STREAM_NAME=taral-stream
WINSTON_AWS_ACCESS_KEY_ID=''
WINSTON_AWS_SECRET_ACCESS_KEY=''
WINSTON_AWS_REGION=''

NEXT_PUBLIC_LOCALNET_API_SERVER='http://localhost:3999/'
NEXT_PUBLIC_TESTNET_API_SERVER='https://api.testnet.hiro.so/'
NEXT_PUBLIC_REGTEST_API_SERVER='https://api.testnet.hiro.so/'
NEXT_PUBLIC_MAINNET_API_SERVER='https://api.hiro.so/'
NEXT_PUBLIC_LOCALNET_EXPLORER='http://localhost:8000'
NEXT_PUBLIC_TESTNET_EXPLORER='https://explorer.stacks.co'
NEXT_PUBLIC_REGTEST_EXPLORER='https://explorer.stacks.co'
NEXT_PUBLIC_MAINNET_EXPLORER='https://explorer.stacks.co'
NEXT_PUBLIC_LOCALNET_BITCOIN_EXPLORER='http://localhost:8001'
NEXT_PUBLIC_TESTNET_BITCOIN_EXPLORER='https://live.blockcypher.com/btc-testnet'
NEXT_PUBLIC_MAINNET_BITCOIN_EXPLORER='https://live.blockcypher.com/btc'
NEXT_PUBLIC_BASE_URL="http://localhost:3000/api" # even if we're in docker, this is served in the browser, so we need to use the host machine's address, not the container's address
NEXT_PUBLIC_TARAL_BANK_CONTRACT="ST1PQHQKV0RJXZFY1DGX8MNSNYVE3VGZJSRTPGZGM.taral-bank"
NEXT_PUBLIC_TARAL_LENDER_ADDRESS="ST2ST2H80NP5C9SPR4ENJ1Z9CDM9PKAJVPYWPQZ50"

POSTGRES_USER=root
PGUSER=root
POSTGRES_PASSWORD=secret
POSTGRES_DB=api

SQLPAD_ADMIN="admin"
SQLPAD_ADMIN_PASSWORD="admin"

STRIPE_SECRET_KEY=
SEQ_FIRSTRUN_ADMINPASSWORDHASH=
SEQ_URL="http://seq"
API_KEY_TITLE="taral_ingest"
API_KEY_TOKEN=
ADMIN_USERNAME="admin"
ADMIN_PASSWORD=
SEQCLI_PATH=

LOGGING_ROTATE_DIRECTORY=logs