NEXT_PUBLIC_LOCALNET_API_SERVER='http://localhost:3999/'
NEXT_PUBLIC_TESTNET_API_SERVER='https://api.testnet.hiro.so/'
NEXT_PUBLIC_REGTEST_API_SERVER='https://api.testnet.hiro.so/'
NEXT_PUBLIC_MAINNET_API_SERVER='https://api.hiro.so/'
NEXT_PUBLIC_LOCALNET_EXPLORER='http://localhost:8000'
NEXT_PUBLIC_TESTNET_EXPLORER='https://explorer.stacks.co'
NEXT_PUBLIC_REGTEST_EXPLORER='https://explorer.stacks.co'
NEXT_PUBLIC_MAINNET_EXPLORER='https://explorer.stacks.co'
NEXT_PUBLIC_LOCALNET_BITCOIN_EXPLORER='http://localhost:8001'
NEXT_PUBLIC_TESTNET_BITCOIN_EXPLORER='https://live.blockcypher.com/btc-testnet'
NEXT_PUBLIC_MAINNET_BITCOIN_EXPLORER='https://live.blockcypher.com/btc'
NEXT_PUBLIC_BASE_URL="http://localhost:3000/api"
NEXT_PUBLIC_TARAL_BANK_CONTRACT="ST1PQHQKV0RJXZFY1DGX8MNSNYVE3VGZJSRTPGZGM.taral-bank"
NEXT_PUBLIC_TARAL_LENDER_ADDRESS="ST2ST2H80NP5C9SPR4ENJ1Z9CDM9PKAJVPYWPQZ50"
NEXT_PUBLIC_SUSDT_CONTRACT="ST1PQHQKV0RJXZFY1DGX8MNSNYVE3VGZJSRTPGZGM.token-susdt"
NEXT_PUBLIC_NEXT_AUTH_SECRET=""
