# Local env vars for debugging
TS_NODE_IGNORE="false"
TS_NODE_FILES="true"

COINBASE_KEY=
COINBASE_SECRET=
COINBASE_PASSPHRASE=

INFURA_API_URL=https://mainnet.infura.io/v3/ad2e183a77d0483a8cb3cc31cb467496

STACKS_API_URL=https://stacks-node-api.mainnet.stacks.co
MODE=mainnet

ORACLE_SK=753b7cc01a1a2e86221266a154af739463fce51219d97e4f856cd7200c3bd2a601
ORACLE_PK=0x0390a5cac7c33fda49f70bc1b0866fa0ba7a9440d9de647fecb8132ceb76a94dfa
ORACLE_STX=ST1PQHQKV0RJXZFY1DGX8MNSNYVE3VGZJSRTPGZGM